<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.jdbc.use_get_generated_keys">true></property>

		<property name="hibernate.connection.url">jdbc:mysql://database-1.c86e57eseq9j.ap-southeast-1.rds.amazonaws.com:3306/test</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">staysmartsolutions</property>

           <!--  <property name="hibernate.connection.url">jdbc:mysql://database-1.czworo7t6ilj.ap-southeast-1.rds.amazonaws.com:3306/iot</property> 
			<property name="hibernate.connection.username">test</property> 
			<property name="hibernate.connection.password">staysmartsolutions123</property> -->

<!--   <property name="hibernate.connection.url">jdbc:mysql://database-1.c86e57eseq9j.ap-southeast-1.rds.amazonaws.com:3306/iotdisaster</property> 
			<property name="hibernate.connection.username">admin</property> 
			<property name="hibernate.connection.password">staysmartsolutions</property> -->
		

        <!--  <property name="connection.datasource">java:comp/env/jdbc/mydb</property> -->

		<!-- Use the C3P0 connection pool provider -->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.max_statements">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_idle_time">180</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.c3p0.maxAdministrativeTaskTime">6</property>
		<property name="hibernate.c3p0.numHelperThreads">10</property>

		<!-- Echo all executed SQL to stdout -->
		<!-- <property name="show_sql">true</property> -->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- SPATIAL SQL dialect -->
		<!--<property name="dialect">org.hibernatespatial.mysql.MySQLSpatialDialect 
			</property> -->
		<property name="dialect">org.hibernatespatial.mysql.MySQLSpatialInnoDBDialect</property>
		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

		<!-- Mapping files -->
		
    <mapping class="com.salman.jenkinspurpose.awsjenkins.Product"/>
    
     
      </session-factory>
</hibernate-configuration>